@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Kalam&family=Lato&family=Literata&family=Numans&family=Open+Sans&family=Pacifico&family=Roboto+Mono&family=Satisfy&family=Work+Sans&family=Yanone+Kaffeesatz&display=swap');

@layer components {
  .slider {
    transform: translateX(100%);
    transition-duration: 300ms;
    transition-timing-function: ease-out;
    &[data-visible="true"] {
      transform: translateX(0%);
    }
    @screen sm {
      transform: translateX(0%);
    }
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}
