@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  border: none;
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.primary-navigation-toggle {
  background: url('https://api.iconify.design/icon-park-outline/hamburger-button.svg?color=white') no-repeat center center / contain;
}

.primary-navigation-toggle[aria-expanded="true"] {
  background: url('https://api.iconify.design/ep/close-bold.svg?color=white') no-repeat center center / contain;
}

.primary-navigation-ul a>[aria-hidden="true"] {
  font-weight: 700;
  margin-inline-end: .75em;
}

.primary-navigation-ul {
  background: hsl(0 0% 0% / 0.75);
}

.primary-navigation-ul[data-visible="true"] {
  transform: translateX(0%);
}

@supports (backdrop-filter: blur(1rem)) {
  .primary-navigation-ul {
    background: hsl(0 0% 100% / 0.1);
    backdrop-filter: blur(1rem);
  }
}

@media (min-width: 640px) and (max-width: 880px) {
  .primary-navigation-ul a>span[aria-hidden] {
    display: none;
  }
}

.instagram {
  background: url('https://api.iconify.design/akar-icons/instagram-fill.svg?color=white') no-repeat center center / contain;
}

.github {
  background: url('https://api.iconify.design/akar-icons/github-fill.svg?color=white') no-repeat center center / contain;
}

#main-content {
  display: grid;
  grid-template-areas: "hero"
    "image";
  grid-template-columns: auto;
  grid-template-rows: auto;
  gap: 2rem;
}

#hero {
  grid-area: hero;
  align-self: center;
}

#image {
  grid-area: image;
  align-self: center;
}

@media (min-width: 1000px) {
  #main-content {
    display: grid;
    grid-template-areas: "hero image";
    grid-template-columns: auto;
    grid-template-rows: auto;
    min-height: calc(100vh - 5rem);
  }
}